save-prefix=~
init.author.license=MIT
init.author.version=1.0.0
//europe-west1-npm.pkg.dev/martech-staging-v5q3/npm/:_authToken=ya29.a0AfB_byBIf_uwBLBc7U0H8U2qXHUGhmYHWAg1cxtz5JaEXnIQYQMGx4GnuNpyfgnhV7Y927s8okdh0GCL2UdIveZhuKHqoTXLw8qawX8ELHykG7JycBTxfzE5w4f8ic-rZyV7SIT1mFmvrD8kBIOvZB7uUl393JMiwxD5y3klrAaCgYKAfgSARESFQHGX2MiyuGIJfVG0pPWINUBqZ0Gzw0177