# Mac
.DS_Store

# Vim
vim/vim/plugged/
vim/vim/spell/
vim/vim/autoload/
vim/vim/undo/*
vim/vim/session/
.netrwhist

# Tmux
tmux-client-*.log

# Do not ignore .gitkeep
!vim/vim/undo/.gitkeep

# optimized lua imports
packer_compiled.lua
