[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot_plugin_aptget"]
	path = plugins/aptget
	url = https://github.com/dein0s/dotbot_plugin_aptget.git
[submodule "plugins/rust"]
	path = plugins/rust
	url = https://github.com/alexcormier/dotbot-rust
